/**
* @file index
* @auhtor linjing03@baidu.com
*/

@require '../common/css/common.styl'

#index-wrap
    .bg
        display: block;
        height: 212px;
        width: 261px;
        margin: auto;


    .slogan
        font-size: 12px;
        font-family: cursive;
        line-height: 48px;

    .content
        text-align: center;
        p
            color: #c2b897;

    .index-main
        line-height: 24px;
        font-size: 16px;
        color: #7d7d7d;
        margin-top: 100px;
        margin-bottom: 24px;
        width: 100%;

