/**
* @file detail
* @author linjing03@
*/

@require '../common/css/common.styl'
.time-line
    height:40px;
    background:#fcf9d6;
    width:100%;
    position: relative;
    text-align: center;
    color: #7d7d7d;


.direction-left
    position: absolute;
    left: 10px;
    top: 5px;

.detail
    position: relative;
    height: 40px;
    width:80%;
    margin:0 auto;
    line-height: 40px;

.part
    float: left;
    width: 50%;

.direction-right
    position: absolute;
    right: 10px;
    top: 5px;

.type
    display: inline-block;
    padding-right: 10px;

.value
    display: inline-block;
    padding-right: 10px;

.table-title
    width: 80%;
    margin: 10px auto;

.canvas-wrap
    width: 80%;
    margin: 10px auto;
    height: 200px;
    border: 1px solid #ccc;

