/**
* @file detail
* @author linjing03
*         wangshuo16
*/

@require '../common/css/common.styl'

#detail-wrap
    .time-line
        height:40px;
        background:#fcf9d6;
        width:100%;
        position: relative;
        text-align: center;
        color: #7d7d7d;
        line-height: 40px;
        font-size: 20px;


    .direction-left
        position: absolute;
        left: 10px;


    .direction-right
        position: absolute;
        right: 10px;

    .detail
        position: relative;
        height: 27px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 27px;
        font-size: 15px;
        border-bottom: 1px solid #7d7d7d;
    .part
        float: left;
        width: 50%;
        text-align: center;
    .type
        display: inline-block;
        padding-right: 10px;


    .table-title
        width: 80%;
        margin: 7px auto;

    .canvas-wrap
        width: 95%;
        margin: 0 auto;
        height: 230px;
        //border: 1px solid #ccc;

