/**
* @file common
* @author linjing03@baidu.com
*/
@require('./reset.styl');

body
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: sans-serif;


.header
    line-height: 3.125rem;
    background-color: #cfe7e7;
    color: #59c0bf;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;

.main
    line-height: 24px;
    font-size: 16px;
    color: #7d7d7d;
    margin-top: 50px;
    margin-bottom: 24px;
    width: 100%;


.edit-btn
    display: block;
    line-height: 47px;
    font-size: 24px;
    background-color: #d7e6ad;
    text-decoration: none;
    color: #000;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align:center;

a
    color: #7d7d7d;
