@font-face 
    font-family: 'icomoon';
    src:url('fonts/icomoon.eot?u5ioig');
    src:url('fonts/icomoon.eot?#iefixu5ioig') format('embedded-opentype'),
        url('fonts/icomoon.ttf?u5ioig') format('truetype'),
        url('fonts/icomoon.woff?u5ioig') format('woff'),
        url('fonts/icomoon.svg?u5ioig#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;


[class^="icon-"], [class*=" icon-"]
    font-family: 'icomoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


.icon-home:before 
    content: "\e600";

.icon-hotel:before
    content: "\e601";

.icon-music:before
    content: "\e600";

.icon-shopping:before
    content: "\e607";

.icon-spinner9:before
    content: "\e604";

.icon-health:before
    content: "\e609";

.icon-pie-chart:before
    content: "\e606";

.icon-investion:before
    content: "\e603";

.icon-food:before 
    content: "\e60b";

.icon-truck:before
    content: "\e60c";

.icon-list:before
    content: "\e60a";

.icon-earth:before
    content: "\e60e";

.icon-share2:before
    content: "\e610";

.icon-others:before
    content: "\e611";

.icon-bonus:before
    content: "\e604";

.icon-parttime:before
    content: "\e60f";

.icon-invest:before
    content: "\e60d";

.icon-salary:before
    content: "\e602";