
@require 'rider-ui/default'

article
    padding: 60px _
    margin: 0 20px

[data-role=wrapper]
    position: relative

.icon-search
    absolute: 4px _ _ 4px
    display: inline-block
    size(16px, 16px)
    background-image: url(img/search.png)
    text-indent: -999999999999px


[data-role=input]
    width: 260px
    padding: _ _ _ 20px

[data-role=reset]
    display: inline-block
    width: 20px;
    margin: _ _ _ -20px

[data-role=sug]
    background: #fff

    li
        line-height: rem(26px)
    em
        color: #49b0ff

