@require 'rider-ui/default'


.container
    padding: 88px _

    h2
        margin: 10px 0

    .demos
        padding: 10px

        .ui-btn
            margin: 10px _

    .segment
        text-align: center
        padding 10px

    .ui-content
        padding: _ 15px

        img
            size: 80px
