/**
 * @file list stylesheet
 * @author wangshuo16
 */
@require '../common/css/common.styl'
#list-wrap
    .time-line
        height:40px;
        background:#fcf9d6;
        width:100%;
        position: relative;
        text-align: center;
        color: #7d7d7d;
        line-height: 40px;
        font-size: 20px;


    .direction-left
        position: absolute;
        left: 10px;
        width: 50px;

    .direction-right
        position: absolute;
        right: 10px;
        width: 50px;
    .detail
        position: relative;
        height: 27px;
        padding-left: 10px;
        padding-right: 10px;
        line-height: 27px;
        font-size: 15px;
    .part
        float: left;
        width: 43%;
    .type
        display: inline-block;
        padding-right: 10px;

    .value
        /*display: inline-block;*/
        /*padding-right: 10px;*/

    .list-header
        height: 32px;
        line-height: 32px;
        font-size: 15px;
        color: #7d7d7d;
        border: 1px solid #bababa;
        border-width: 2px 0;
        text-align: center;

    .list-header span
        width: 50%;
        float: left;
        display: block;

    .title h4
        background: #d2d2d2;
        height: 20px;
        line-height: 20px;
        padding-left: 10px;
        font-size: smaller;
        position: relative;
        border-bottom: 1px solid #bababa;

        a:after
            font-size: 0;
            content: '';
            height: 0;
            width: 0;
            border: 4px solid;
            border-color: transparent transparent transparent #7d7d7d;
            position: absolute;
            top: 5px;
            right: 15px;


    .title dd
        border-bottom: 1px solid #ccc;
        height: 30px;
        position: relative;

        span
            width: 50%;
            float: left;
            text-align: center;
            line-height: 30px;

        span.red
            color: #fc3e03;

        span.green
            color: #01b112;

        .box-icon
            position: absolute;
            right: 5px;
            top:6px;
        img
            width: 20px;
            height: 20px;
            margin-right: 5px;

    .toggle h4
        a:after
            border-color: #7d7d7d transparent transparent transparent;

    .toggle dl
        display: none;

    .icon-pie-chart
        position: absolute;
        top: 6px;
        right: 10px;










