/**
* @file welcome
* @author cuiyongjian(cuiyongjian@outlook.com)
*/


.welcome
    position: fixed
    top: 0
    bottom: 0
    left: 0
    right: 0
    .tips
        margin-top: 25%
        text-align: center
        h1
            font-size: 30px
            font-weight: bold
        p
            margin: 16px
            font-size: 14px
    .welcome-btn button
        border: 1px solid #F1F1F1
        background-color: #FDCA77
        width: 150px
        height: 40px
        margin: 0 auto
        display: block
        bottom: 20px
        font-size: 14px
        color: #2F2F2F
    .welcome-btn
        position: absolute
        bottom: 30px
        left: 0
        right: 0